@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
  }

  #header {
    padding: 20px 0;
  }

  .slider-section {
    #slider-top {
      max-height: calc(100vh - 160px);

      .content-wrapper {
        padding: 0;
      }

      h2{
        margin-top: 8%;
        font-size: 5em;
      }

      .button-link {
        margin: 60px 0 5px;
      }
    }
  }

  .clients-section {
    .sl {
      .sl_slide {
        padding: 0 40px;
      }
    }
  }

  #footer {
    .footer-col {
      padding-right: 70px;
    }
  }
}